* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: white;
  cursor: pointer;

  border: solid 2px #3c3f58;
}

.sidebar {
  flex: 1 1 0;
  max-width: 125px;
  padding: 2rem 1rem;
  background-color: rgb(60, 154, 186);
}

.sidebar .menu {
  margin: 0 -1rem;
  /* background-color: lightblue; */
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1.5em;
  color: #3b3b3b;
  text-decoration: none;
  transition: 0.2s linear;

  font-size: 20px;
  font-weight: bold;
}

/*------------------*/

.logo {
  width: 75px;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

.menu-logo {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.notes-list{
    width: 250px;
    background-color: #3c3f58;

}
.list-item{
  background-color: #3c3f58;
  
  
}
.list-item ul{
  list-style: none;
  background-color: rgb(129, 214, 186);
}
.list-item ul li{
  margin-bottom: 10px;
  border: 1px solid red;
  height: 80px;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
}
.main{
  width: 700px;
  margin-left: 250px;
}
#text{
  /* border: none; */
}
.text-area{
  position: relative;
  width: 300px;
}
.add-note{
  position: absolute;
  bottom: 50px;
  right: -360px;
  
}
.edit-note{
  position: absolute;
  bottom: 115px;
  right: -360px;
}
.btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color:rgb(60, 154, 186);
}
#text{
  padding: 50px;
}
.list-item ul li :nth-child(3){
  color : red;
  position: absolute;
  bottom:0px;
  right: 0px;
}

