@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Merriweather:wght@300&family=Nunito:wght@300&family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-family: "popins", "sans-serif";
}
.app {
  display: flex;
  height: 100vh;
  max-width: 1400px;
  position: fixed;
}

.sidebar {
  flex: 1 1 0;
  max-width: 125px;
  max-height: 100%;
  padding: 2rem 1rem;
  background-color: rgb(61, 76, 191);
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1.5em;
  color: #3b3b3b;
  text-decoration: none;
  transition: 0.2s linear;

  font-size: 20px;
  font-weight: bold;
}

/*------------------*/

.logo {
  width: 75px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.menu-logo {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.notes-list {
  width: 250px;
  height: 100vh;
  overflow: auto;
  background-color: #f1f5f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.list-item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-item ul li {
  height: 120px;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.list-item ul li:hover {
  background-color: #fff;
}
.list-item ul li h2 {
  font-family: "Merriweather", serif;
  font-size: 20px;
}
.main {
  display: flex;
  gap: 300px;
  min-height: 100vh;
}
input {
  border: none;
  height: 50px;
}
.title-input {
  font-family: "Merriweather", serif;
  font-size: 30px;
}
#text {
  border: none;
  width: 750px;
  height: 850px;
  overflow: hidden;
}
.text-area {
  position: relative;
  margin-top: 50px;
}
#text {
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px;
}
input,
.date {
  outline: none;
  padding-left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.add-note,
.update-note {
  position: absolute;
  top: 80%;
  left: 90%;
}
.date {
  margin: 20px 0;
}
.btn {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(60, 154, 186);
}
.list-item ul li :nth-child(3) {
  color: red;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: italic;
}
.btn-color {
  background-color: rgb(210, 223, 36);
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100vh;
  width: 1400px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.modal p {
  font-size: 14px;
  opacity: 0.7;
  margin: 15px 0;
}

button {
  /* background-color: cornflowerblue; */
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  cursor: pointer;
}
.section-logo {
  cursor: pointer;
}

.fav-btn {
  position: absolute;
  top: 20px;
  right: 0;
}
.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.notes-list.notes-list-open {
  transform: translateX(0);
  opacity: 1;
}
@media (max-width: 1400px) {
  .main {
    display: flex;
    gap: 100px;
    height: 100vh;
  }
}
@media (max-width: 1200px) {
  .main {
    display: flex;
    gap: 0;
    height: 100vh;
  }
  .text-area {
    position: relative;
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  .notes-list {
    position: fixed;
    top: 120px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f5f8;
    z-index: 1;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
    opacity: 0;
  }
  .add-note,
  .update-note {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .modal {
    max-width: 100%;
    margin-right: 500px;
  }
}
